.msg {
    padding: 15px;
    color: white;
    margin: 20px;
    font-weight: 600;
    font-size: 1.1rem;
    &.err {
        background-color: red;
    }
    &.suc {
        background-color: #8BC34A;
    }
}

.create-assignment-container {
    mat-icon {
        vertical-align: middle;
        font-size: 23px; // padding-right: 5px;
    }
    border: 1px solid #3f51b5;
    border-left: 15px solid #3f51b5;
    margin: 20px; // display: flex;
    .create-assignment-header {
        background-color: #303f9f;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .create-assignment-content {
        padding: 10px;
        font-size: 0.9rem;
        font-weight: 600;
        justify-content: center;
        .ca-form {
            .label-ca-form {
                padding: 10px;
            }
            .error-number-assignment {
                color: red;
                padding: 3px 10px;
            }
            .form-control {
                border: 1px solid #1a237e;
                margin: 5px 10px;
                padding: 5px;
                border-radius: 2px;
                width: 90%;
            }
            input {
                border: 1px solid #1a237e;
                margin: 5px 10px;
                padding: 5px;
                border-radius: 2px;
                width: 90%;
            }
        }
    }
    .ca-button {
        display: flex;
        justify-content: center;
        .create-assignment-button {
            text-align: center;
            cursor: pointer;
            width: 200px;
            padding: 15px;
            margin: 15px;
            font-size: 1rem;
            color: white;
            font-weight: 600;
            background-color: #8BC34A;
            &.disabled {
                background-color: #DDDDDD;
                cursor: not-allowed;
            }
        }
    }
}
