.grader-navbar-container {
    background-color: #0d47a1;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    mat-icon {
        font-size: 1.4rem;
        vertical-align: middle;
    }
    .left-navbar {
        padding: 15px;
    }
    .right-navbar {
        display: flex;
        .time-navbar {
            margin-right: 10px;
            padding: 15px;
        }
        .username-navbar {
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            padding: 15px;
            &:active {
                background-color: #1a237e;
            }
            .logout-button {
                z-index: 1000;
                margin-top: 15px;
                position: absolute;
                background-color: white;
                color: black;
                font-weight: 200;
                padding: 20px;
                text-align: center;
                width: 95%;
                &:hover {
                    background-color: #dddddd;
                }
            }
        }
    }
}
