<div class="question-list-container">
  <div class="question-list-header">
    <div class="ql-header-left">
      <mat-icon>view_list</mat-icon>
      Question List
    </div>
    <!-- <div class="ql-header-right">
      Hide
      <mat-icon>keyboard_arrow_up</mat-icon>
    </div> -->
  </div>
  <!-- <div class="question-list-content">
    <div class="ql-content-header">
      Databases - Company Base
    </div>
  </div> -->
  <div class="question-list-content">
    <div class="ql-content-header">
      Question — 1
    </div>
    <div class="ql-content">
      Yet the benefits of digital over analog are undeniable, which is why you see digital computers so often used to process signals
      with much more exactitude—and using much more energy—than is really required. An interesting and unconventional compromise
      is a method called stochastic computing, which processes analog probabilities by means of digital circuits. This largely
      forgotten technique could significantly improve future retinal implants and machine-learning circuits—to give a couple
      of applications we’ve investigated—which is why we believe stochastic computing is set for a renaissance.
    </div>
  </div>
  <div class="question-list-content">
    <div class="ql-content-header">
      Question — 2
    </div>
    <div class="ql-content">
      วันหนึ่งฉันเดินเข้าป่า ฉันเจอนกตัวหนึ่ง มันถามฉันว่าจะไปไหน ฉันจึงตอบ อยากไปให้ไกล ไกลเกินกว่าที่ฉันเคยไป ถ้าเราเหนื่อยล้า
      จงเดินเข้าป่า อย่างน้อยก็ไม่ต้องพบเจอ คนใจร้ายอย่างเธอ คนที่ไม่มีน้ำใจ ไม่มีเยื่อใยให้คนเคยรักกัน ใจร้ายอย่างเธอ ต้องทิ้งให้อยู่คนเดียว
      เผื่อเธอเหงาขึ้นมาจะได้กลับมารักกัน วันหนึ่งฉันเดินเข้าป่า ฉันเจอเสือตัวใหญ่ มันถามฉันว่ากลัวบ้างไหม ฉันจึงตอบว่าไม่เท่าไร
      ยังดีกว่าคนไร้หัวใจ เมื่อเราปวดร้าว จงเดินเข้าป่า อย่างน้อยก็ไม่ต้องพบเจอ คนใจร้ายอย่างเธอ คนที่ไม่มีน้ำใจ ไม่มีเยื่อใยให้คนเคยรักกัน
      ใจร้ายอย่างเธอ ต้องทิ้งให้อยู่คนเดียว เผื่อเธอเหงาขึ้นมาจะได้กลับมารักกัน คนใจร้าย คนใจร้าย ไม่มีเยื่อใยให้คนเคยรักกัน
      eiei วันหนึ่งฉันเดินเข้าป่า
    </div>
  </div>
  <div class="question-list-content">
    <div class="ql-content-header">
      Question — 3
    </div>
    <div class="ql-content">
      Yet the benefits of digital over analog are undeniable, which is why you see digital computers so often used to process signals
      with much more exactitude—and using much more energy—than is really required. An interesting and unconventional compromise
      is a method called stochastic computing, which processes analog probabilities by means of digital circuits. This largely
      forgotten technique could significantly improve future retinal implants and machine-learning circuits—to give a couple
      of applications we’ve investigated—which is why we believe stochastic computing is set for a renaissance.
    </div>
  </div>
</div>
