<div class="genarate-testcase-container">
  <div class="select-assignment-dropdown">
    <div class="sad-header">
      Select Assignment
    </div>
    <select class="custom-select">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose Testcase File</label>
  </div>
  <div class="g-button-form">
    <div class="genarate-button">
      Genarate Test Case
    </div>

  </div>

</div>
