.data-assignment {
    border: 2px solid #3f51b5;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px;
    .input-edit-mode {
        padding: 2px;
        border-radius: 2px;
        font-size: 1.2rem; // font-weight: 600;
        margin-bottom: 15px;
    }
    .manage-mode {
        display: flex;
        justify-content: flex-end;
        .edit-mode {
            background-color: #3f51b5;
            margin: 5px;
            padding: 10px;
            border-radius: 3px;
            color: white;
            cursor: pointer;
            &.disabled {
                background-color: #CCCCCC;
            }
        }
        .delete-mode {
            background-color: #f44336;
            margin: 5px;
            padding: 10px;
            border-radius: 3px;
            color: white;
            cursor: pointer;
        }
    }
}

.question-list-container {
    margin: 25px;
    .ql-header {
        .ql-header-item {
            background-color: #4caf50;
            padding: 10px;
            font-weight: 600;
            color: white;
            text-align: center;
            border-right: 1px solid white;
            font-size: 1.1rem;
        }
    }
    .ql-content {
        .ql-content-item {
            padding: 10px;
            text-align: center;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            text-overflow: ellipsis;
            font-size: 1.1rem;
            overflow: hidden;
            &.end-ql-content {
                border-right: 1px solid black;
            }
            &.null-data {
                color: #f44336;
                font-weight: 600;
            }
        }
        &:hover {
            cursor: pointer;
            background-color: #e8f5e9;
        }
    }
}

.manage-sub-assignment-container {
    .error-update {
        padding: 15px;
        background-color: #f44336;
        margin: 10px;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
    }
    margin: 20px;
    mat-icon {
        vertical-align: middle;
        font-size: 23px; // padding-right: 5px;
    }
    .manage-sub-assignment {
        padding: 15px;
        .number-assignment-label {
            font-size: 1.1rem;
            font-weight: 600;
            background-color: #3f51b5;
            color: white;
            padding: 6px;
            border-radius: 2px 0px 0px 2px;
        }
    }
    .form-manage-assignment-group {
        .gen-testcase-header {
            font-size: 1.4rem;
            padding: 10px;
        }
        margin: 5px;
        outline: none;
        border: 10px;
        .label {
            font-size: 1.2rem;
            font-weight: 600;
            &.not-found {
                color: red;
            }
            &.warning {
                color: #f44336;
            }
        }
        .answer-code {
            // background-color: #3f51b5;
            margin: 10px;
            padding: 20px;
        }
        .form-control {
            border-radius: 2px;
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
    .button-submit {
        width: 200px;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        font-size: 1.2rem;
        background-color: #3f51b5;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        &.not-sol {
            background-color: #dddddd;
        }
    }
}

.question-submit-container {
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    top: 0;
    left: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    height: 100%;
    width: 100%; // overflow: auto;
    /* Enable scroll if needed */
    display: flex;
    align-items: center; // flex-direction: column;
    /* make main axis vertical */
    justify-content: center; // align-content: center;
    .qs-card {
        background-color: white;
        width: 75%;
        padding: 30px;
        height: 30%;
        margin: 30px;
        .qs-content-header {
            text-align: center;
            font-size: 1.7rem;
            margin: 10px;
        }
        .qs-content {
            text-align: center;
            font-size: 1.5rem;
            padding: 15px;
        }
        .close-button {
            display: flex;
            justify-content: center;
            .close-button-item {
                background-color: #2b3d52;
                padding: 10px;
                width: 150px;
                text-align: center;
                margin: 5px;
                border: 1px solid #cccccc;
                border-radius: 2px;
                font-weight: 600;
                color: white;
                cursor: pointer;
                &.bg-delete {
                    background-color: red;
                    border: 1px solid #FFFFFF;
                }
            }
        }
    }
}

.show-update-sucessful {
    padding: 20px;
    background-color: #4caf50;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 15px;
}
