<div class="admin-content-container">
  <div class="admin-content-header">
    <div class="header-name" *ngIf="coruseData">
      <img class="icon" src="assets/icons/person_icon.png"> Subject Code: {{coruseData.ccode}},&nbsp;&nbsp;{{coruseData.cname}} &nbsp;&nbsp;Semester: ({{coruseData.semester}}/{{coruseData.year}})
    </div>
    <div class="name-admin-header">
      Hello, Allison Sindy
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
    <!-- <grader-manage-db></grader-manage-db> -->
    <!-- <grader-manage-assignment></grader-manage-assignment> -->
  </div>
</div>
