<div class="course-list-container">
  <div class="course-list-header">
    Course List
  </div>
  <div class="course-list-item row">
    <div class="cl-header col-2">
      Course Code
    </div>
    <div class="cl-header col-3">
      Course Name
    </div>
    <div class="cl-header col-1">
      Term
    </div>
    <div class="cl-header col-2">
      Year
    </div>
    <div class="cl-header col-2">
      Edit
    </div>
    <div class="cl-header col-2">
      Delete
    </div>
  </div>
  <grader-course-item-list></grader-course-item-list>
  <grader-course-item-list></grader-course-item-list>
</div>
