<div class="view-scores-container">
  <div class="vs-header  row">
    <div class="vs-header-item col-2">
      StudentId
    </div>
    <div class="vs-header-item col-3">
      Name
    </div>
    <div class="vs-header-item col-2">
      totalScore
    </div>
    <div class="vs-header-item col-2">
      PercentScore
    </div>
    <div class="vs-header-item assignment-number">
      Assignment
    </div>
  </div>
  <div class="vs-header  row">
    <div class="col-2">

    </div>
    <div class="col-3">

    </div>
    <div class="col-2">

    </div>
    <div class="col-2">

    </div>
    <div class="assignment-number col-3">
      <div class="assignment-number-item">
        #1
      </div>
      <div class="assignment-number-item">
        #1
      </div>
      <div class="assignment-number-item">
        #1
      </div>
      <div class="assignment-number-item">
        #1
      </div>
      <div class="assignment-number-item">
        #1
      </div>
      <div class="assignment-number-item">
        #1
      </div>
    </div>
  </div>
</div>
