<div class="submit-detail-container row">
  <div class="sd-item header-item col-12">
    Summary
  </div>
  <!-- <div class="sd-item col-6">
    จำนวนครั้งที่ส่ง: {{dataLerning?.submitCount}}
  </div>
  <div class="sd-item col-6">
    จำนวนข้อที่ถูก: {{dataLerning?.correctCount}}
  </div>
  <div class="sd-item col-6">
    จำนวนที่ Systrax Error: {{dataLerning?.systraxErrorCount}}
  </div>
  <div class="sd-item col-6">
    จำนวนที่ Output is not Correct: {{dataLerning?.OutputisIncorrectCount}}
  </div> -->
  <div class="sd-item col-6">
    คะแนนสูงสุด: {{max_}}
  </div>
  <div class="sd-item col-6">
    คะแนนต่ำสุด: {{min_}}
  </div>
  <div class="sd-item col-6">
    คะแนนเฉลี่ย: {{avg_}}
  </div>
  <div class="sd-item col-6">
    ส่วนเบี่ยงเบนมาตรฐาน (sd): {{sd_ | number : '0.6'}}
  </div>
  <mat-divider> </mat-divider>
</div>
