<div class="manage-assignment-container">
  <div class="ma-header-menu row">
    <div class="ma-menu-item col-6" routerLink="createassignment" routerLinkActive="ma-menu-active">
      Create Assignment
    </div>
    <div class="ma-menu-item  col-6" routerLink="assignmentlist" routerLinkActive="ma-menu-active">
      Manage Assignment
    </div>
  </div>
  <div class="ma-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <grader-create-assignment></grader-create-assignment>
<grader-manage-sub-assignment></grader-manage-sub-assignment> -->
<!-- work -->
