<div class="assignment-submission-detail-container row">
  <div class="asd-item header-light col-6">
    <mat-icon class="start-date">
      schedule
    </mat-icon>
    <div class="asd-title start-date">
      Start Date:
    </div>
    {{startdate}}
  </div>
  <div class="asd-item header-light col-6 row">
    <mat-icon class="due-date">
      schedule
    </mat-icon>
    <div class="asd-title due-date">
      Due Date:
    </div>
    {{duedate}}
    <div class="count-down col-12">
      ( Due {{duein}} )
    </div>
  </div>
</div>
