<div class="assignment-submission-detail-container row">
  <div class="asd-item header-light col-6">
    <mat-icon class="start-date">
      schedule
    </mat-icon>
    <div class="asd-title start-date">
      Start Date:
    </div>
    7/03/1996 00:09
  </div>
  <div class="asd-item header-light col-6 row">
    <mat-icon class="due-date">
      schedule
    </mat-icon>
    <div class="asd-title due-date">
      Due Date:
    </div>
    7/03/2018 00:09
    <div class="count-down col-12">
      ( Due in 7 hours )
    </div>
  </div>
</div>
