<div class="prev-submission-container">
  <div class="psubmission-header header-light">
    <mat-icon>assignment_returned</mat-icon>
    Previous Submissions
  </div>
  <div class="psubmission-table">
    <div class="psub-table-header row">
      <div class="psub-header-item col-2">
        Submission ID
      </div>
      <div class="psub-header-item col-2">
        Date & Time
      </div>
      <div class="psub-header-item col-2">
        Status & Detail
      </div>
      <div class="psub-header-item col-2">
        Score
      </div>
      <div class="psub-header-item col-2">
        Time Exec
      </div>
      <div class="psub-header-item col-2">
        Download file
      </div>
    </div>
    <div class="psub-table-content row">
      <div class="psub-content-item col-2">
        99999
      </div>
      <div class="psub-content-item col-2">
        2018-02-22 22:07:35
      </div>
      <div class="psub-content-item fontw-600 col-2">
        Evaluated
        <mat-icon matTooltip="Click to show detail" [matTooltipPosition]="'above'">add_box</mat-icon>
      </div>
      <div class="psub-content-item fontw-600 col-2">
        300/300
      </div>
      <div class="psub-content-item col-2">
        0.0002 s
      </div>
      <div class="psub-content-item right-border  col-2">
        <div class="button-download">
          Download
        </div>
      </div>
    </div>
    <div class="psub-table-content row">
      <div class="psub-content-item col-2">
        99999
      </div>
      <div class="psub-content-item col-2">
        2018-02-22 22:07:35
      </div>
      <div class="psub-content-item fontw-600 col-2">
        Not Correct
        <mat-icon matTooltip="Click to show detail" [matTooltipPosition]="'above'">add_box</mat-icon>
      </div>
      <div class="psub-content-item fontw-600 col-2">
        0/300
      </div>
      <div class="psub-content-item col-2">
        2.3 s
      </div>
      <div class="psub-content-item right-border  col-2">
        <div class="button-download">
          Download
        </div>
      </div>
    </div>
  </div>
</div>
