<div class="prev-submission-container">
  <div class="psubmission-header header-light">
    <mat-icon>assignment_returned</mat-icon>
    Previous Submissions
  </div>
  <div class="psubmission-table">
    <div class="psub-table-header row">
      <div class="psub-header-item col-2">
        Submission ID
      </div>
      <div class="psub-header-item col-2">
        Date & Time
      </div>
      <div class="psub-header-item col-2">
        Status & Detail
      </div>
      <div class="psub-header-item col-2">
        Score
      </div>
      <div class="psub-header-item col-2">
        Time Exec
      </div>
      <div class="psub-header-item col-2">
        Download file
      </div>
    </div>
    <div class="psub-table-content row" *ngFor="let submit of data_">
      <div class="psub-content-item col-2">
        {{submit.submitid}}
      </div>
      <div class="psub-content-item col-2">
        {{submit.date}}
      </div>
      <div class="psub-content-item fontw-600 col-2">
        Evaluated
        <!-- <mat-icon matTooltip="Click to show detail" [matTooltipPosition]="'above'">add_box</mat-icon> -->
      </div>
      <div class="psub-content-item fontw-600 col-2">
        {{submit.submitscore}} / {{totalscore}}
      </div>
      <div class="psub-content-item col-2">
        {{submit.submittime / 1000}} s
      </div>
      <div class="psub-content-item right-border  col-2">
        <div class="button-download">
          Download
        </div>
      </div>
    </div>
  </div>
</div>
