<div class="prev-submission-container">
  <div class="psubmission-header header-light">
    <mat-icon>assignment_returned</mat-icon>
    Previous Submissions
  </div>
  <div class="psubmission-table">
    <div class="psub-table-header row justify-content-md-center">
      <div class="psub-header-item col-3">
        Submission No.
      </div>
      <div class="psub-header-item col-2">
        Iteration No.
      </div>
      <div class="psub-header-item col-2">
        Score
      </div>
      <div class="psub-header-item col-2">
        Detail
      </div>
      <div class="psub-header-item col-3">
        Download
      </div>
    </div>
    <div class="psub-table-content row justify-content-md-center" *ngFor="let submit of data_; let i = index">
      <div class="psub-content-item fontw-600 col-3">
        {{submit.scoreid}}
      </div>
      <div class="psub-content-item fontw-600 col-2">
        {{allnosubmit - (i)}}
      </div>
      <div class="psub-content-item fontw-600 col-2">
        {{submit.score}}
      </div>
      <div class="psub-content-item fontw-600 col-2">
        <div class="button-download col-10 justify-content-md-center" (click)="showDetail(submit.scoreid)">
          View Detail
        </div>
      </div>
      <div class="psub-content-item  fontw-600 col-3 ">
        <div class="button-download col-6 justify-content-md-center" (click)="downloadAssignmentFile(submit.scoreid)">
          Download
        </div>
      </div>
    </div>
  </div>

  <grader-question-list *ngIf="showDetailBool" [scoreId]="scoreId" (showDetail)="ChangeShowDetail($event)"></grader-question-list>
