<div class="manage-course-container">
  <div class="mc-header-menu row">
    <div class="mc-menu-item col-6" routerLink="createcourse" routerLinkActive="mc-menu-active">
      Create Course
    </div>
    <div class="mc-menu-item  col-6" routerLink="courselist" routerLinkActive="mc-menu-active">
      course List
    </div>
  </div>
  <div class="mc-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <grader-create-course></grader-create-course>
<grader-course-list></grader-course-list> -->
