.parctice-list-container {
    .pl-header {
        background-color: #2B3D52;
        padding: 20px;
        color: white;
        font-size: 1.3rem;
        border: 1px 2px 3px 4px solid #001c3b;
        display: flex;
        justify-content: center;
        font-weight: 600;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .pl-list {
        background-color: white;
        padding: 15px;
        font-size: 1rem;
        border-right: 1px solid #001c3b;
        border-left: 1px solid #001c3b;
        border-bottom: 1px solid #001c3b;
        display: flex; // font-weight: 600;
        // justify-content: center;
        justify-content: space-between;
        &:hover {
            background-color: #ECEFF1;
            cursor: pointer;
        }
        &.active {
            background-color: #2B3D52;
            color: #CCCCCC;
            font-weight: 600;
            border-right: 1px solid #263238;
            border-left: 1px solid #263238;
            border-bottom: 1px solid #263238;
        }
    }
}
