<div class="parctice-list-container">
  <div class="pl-header header-light  ">
    Assignment Parctice
  </div>
  <div class="pl-list">
    <div class="pl-name">
      Assignment#1 - EIEI commpany
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="pl-list active">
    <div class="pl-name">
      Assignment#1 - EIEI commpany
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="pl-list">
    <div class="pl-name">
      Assignment#1 - EIEI commpany
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="pl-list">
    <div class="pl-name">
      Assignment#1 - EIEI commpany
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>
