<div class="search-input">
  <div class="search-icon">
    <img src="assets/icons/search_icon.png">
  </div>
  <input type="text" auto-complete [source]="allDatabaseAssignment" [max-num-list]="3" #searchDb (keyup.enter)="searchDbName(searchDb.value);searchDb.value = '';"
    placeholder="Search Databases Name">
  <div class="error-search" *ngIf="existsDb === 2">
    Not Found Database !
  </div>
</div>
<div class="dbname-list-table row">
  <div class="header-dbname-list col-8">
    Name
  </div>
  <div class="dbname-list-item col-8" *ngFor="let name of allDatabaseAssignment" (click)="searchDbName(name)">
    {{name}}
  </div>
</div>
<hr>
<div class="db-name-container">
  <div class="db-name-list">
    <div class="db-name">
      {{dbName? dbName:"กรุณาเลือก Databases"}}
    </div>
  </div>
  <!-- <div class="db-del-button" *ngIf="existsDb === 1">
    <div class="danger-del-text"> Danger Zone </div>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete Database</button>
  </div> -->
  <div class="choose-table-text" *ngIf="existsDb === 1">
    Choose Table :
  </div>
  <div class="row">
    <div class="db-table-list col-2" *ngFor="let data of dataTableList" (click)="clickTable(data)" [class.active]="this.tableNameActive === data.tablename">
      {{data.tablename}}
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" *ngFor="let col of colName" class="col-data"> {{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataTable of allDataTable">
        <th *ngFor="let col of colName" class="col-data"> {{dataTable[col]}}</th>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete {{dbName}} Database</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        คุณต้องการลบ {{dbName}} ออกจากฐานข้อมูลแบบฝึกหัดหรือไม่
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete Database</button>
      </div>
    </div>
  </div>
</div> -->
