<div class="manage-databases-container">
  <div class="md-header-menu row">
    <div class="md-menu-item col-6" routerLink="createdb" routerLinkActive="md-menu-active">
      Create Databases
    </div>
    <div class="md-menu-item  col-6" routerLink="dblist" routerLinkActive="md-menu-active">
      Search And View Databases
    </div>
  </div>
  <div class="md-content">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div>
        Manage Databases
    </div>
    <div>
        <grader-create-db
        [allDatabaseAssignment]="allDatabaseAssignment"
        ></grader-create-db>
    </div>
    <div>
        <grader-db-list></grader-db-list>
    </div>
</div> -->
