<div class="assignment-list-container">
  <div class="assignment-list-search">
    <div class="alist-search-header header-light">
      <mat-icon>search</mat-icon>
      Search
    </div>
    <input class="header-light" placeholder="Search Assignment Number | Assignment Name | Status Assignment" [(ngModel)]="searchAssignment">
  </div>
  <div class="header-alist-container row">
    <div class="header header-light col-2">
      Assignment #
    </div>
    <div class="header header-light col-4">
      Assignment Name
    </div>
    <div class="header header-light col-2">
      No of Question
    </div>
    <div class="header header-light col-2">
      Score
    </div>
    <div class="header header-light col-2">
      Status
    </div>
  </div>
  <div class="alist-container row" *ngFor="let data of assignmentList?.data | filterAssignment: searchAssignment" (click)="goToAssignment(data?.anumber)">
    <div class="item-list col-2">
      {{data?.anumber}}
    </div>
    <div class="item-list col-4">
      {{data?.aname}}
    </div>
    <div class="item-list col-2">
      {{data?.noofquestion}}
    </div>
    <div class="item-list col-2">
      {{data?.score}} / {{data?.totalscore}}
    </div>
    <div class="item-list col-2 boder-right" [ngClass]="{'color-open': data.astatus === 'opening', 'color-closed': data.astatus === 'closed'}">
      {{data.astatus}}
    </div>
  </div>
</div>
