<div class="search-input">
  <div class="search-icon">
    <img src="assets/icons/search_icon.png">
  </div>
  <!-- <input type="text" auto-complete [source]="allDatabaseAssignment" [max-num-list]="3" #searchDb (keyup.enter)="searchDbName(searchDb.value);searchDb.value = '';"  placeholder="Search Databases Name"> -->
  <input type="text" #searchDb placeholder="Search Assignment by Assignemnt Number or Assignment Name" [(ngModel)]="searchText">
</div>
<div class="assignment-list">
  <div class="al-header-table row">
    <div class="al-header col-3">
      Assignment Number
    </div>
    <div class="al-header col-3">
      Assignment Name
    </div>
    <div class="al-header col-3">
      No of Question
    </div>
    <div class="al-header col-3">
      Status
    </div>
  </div>
  <div class="al-content-table row" *ngFor="let assignemnt of allDataAssignment | assignmentFilter : searchText" (click)="goToQuestion(assignemnt.anumber)">
    <div class="al-content col-3">
      {{assignemnt.anumber}}
    </div>
    <div class="al-content col-3">
      {{assignemnt.aname}}
    </div>
    <div class="al-content col-3">
      {{assignemnt.noofquestion}}
    </div>
    <div class="al-content end-content col-3">
      {{assignemnt.astatus}}
    </div>
  </div>
</div>
