<div class="submission-navbar header-light" (click)="goToAssignments()">
  <div class="btn btn-outline-light btn-lg">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Back to Assignment Overview
  </div>
</div>

<div class="submission-container">
  <div class="submission-header">
    Assignment# 1
    <div class="submission-subheader header-light">
      Company EIEI
    </div>
  </div>
  <mat-divider></mat-divider>
  <grader-assignment-submission-detail></grader-assignment-submission-detail>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <grader-question-list></grader-question-list>
  <mat-divider></mat-divider>
  <div class="submission-download-file d-flex">
    <div class="submission-download-file-header header-light">
      <mat-icon>insert_drive_file</mat-icon>
      Download File Scripts
    </div>
    <div class="button-download-file">
      Download
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="submission-send-file">
    <div class="submission-send-file-header header-light">
      <mat-icon>input</mat-icon>
      Input File
    </div>
    <mat-form-field>
      <mat-select placeholder="Select  Databases">
        <mat-option *ngFor="let db of DBMs" [value]="db.value">
          {{ db.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile">Choose File</label>
    </div>
    <div class="button-send-file">
      Submit
    </div>
  </div>
  <mat-divider></mat-divider>
  <grader-prev-submission></grader-prev-submission>
</div>
