<div class="submission-navbar header-light" (click)="goToAssignments()">
  <div class="btn btn-outline-light btn-lg">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Back to Assignment Overview
  </div>
</div>

<div class="submission-container">
  <div class="submission-header">
    Assignment# {{assignmentNumber$}}
    <div class="submission-subheader header-light">
      {{dataAssignement$.aname}}
    </div>
  </div>
  <mat-divider></mat-divider>
  <grader-assignment-submission-detail [data]="dataAssignement$"></grader-assignment-submission-detail>
  <!-- <mat-divider></mat-divider> -->
  <!-- <mat-divider></mat-divider>
  <grader-question-list></grader-question-list> -->
  <mat-divider></mat-divider>
  <div class="submission-download-file d-flex row">
    <div class="submission-download-file-header header-light col-4">
      <mat-icon>assignment</mat-icon>
      Download Assignment
    </div>
    <div class="button-download-file" (click)="downloadAssignmentFile()">
      Download
    </div>
  </div>
  <div class="submission-download-file d-flex row">
    <div class="submission-download-file-header header-light col-4">
      <mat-icon>insert_drive_file</mat-icon>
      Download Assignment File Template
    </div>
    <div class="button-download-file" (click)="downloadScriptFile()">
      Download
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="submission-send-file">
    <div class="submission-send-file-header header-light" *ngIf="dataAssignement$.astatus === 'opening'">
      <mat-icon>input</mat-icon>
      Input File
    </div>
    <mat-form-field *ngIf="dataAssignement$.astatus === 'opening'">
      <mat-select placeholder="Select  Databases" [(ngModel)]="selectDBMs">
        <mat-option *ngFor="let db of DBMs" [value]="db.value">
          {{ db.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="custom-file" *ngIf="dataAssignement$.astatus === 'opening'">
      <input type="file" #selectedFile class="custom-file-input" id="customFile" ng2FileSelect [uploader]="sqlFile" (change)="detectFile()">
      <label class="custom-file-label" for="customFile">{{ sqlFile.queue[0]? sqlFile.queue[0].file.name: "Choose file" }}</label>
    </div>
    <div class="closed-detail-input" *ngIf="dataAssignement$.astatus === 'closed'">
      แบบฝึกหัดได้ทำการปิดแล้ว ไม่สามารถส่งได้
    </div>
    <label class="error-msg" *ngIf="errRes">
      {{errRes}}
    </label>
    <label class="error-msg" *ngIf="errorFile"> {{errorMessageFile}}</label>
    <div class="button-send-file disabled" *ngIf="(!sqlFile.queue[0] || errorFile) && dataAssignement$.astatus === 'opening'">
      Submit
    </div>
    <div class="button-send-file" (click)="sqlFile.queue[0].upload()" *ngIf="sqlFile.queue[0] && !errorFile"> Submit
    </div>
  </div>
  <mat-divider></mat-divider>
  <grader-prev-submission [data]="dataSubmission$"></grader-prev-submission>
</div>
